[class~="ant-col"] {
  background: transparent;
  border: 0;
}

.ant-tag {
  padding-top: 1px !important;
  margin-left: 5px !important;
}

pre.debugger-input-textarea-pre {
  height: 400px !important;
  overflow: scroll;
}
pre.debugger-result-content-pre {
  height: 150px !important;
  overflow: scroll;
}
pre {
  background: none !important;
  overflow-wrap: break-word !important;
}
pre code {
  /* color: #c2c2c2; */
  background: none !important;
  border: none !important;
  padding: 0px !important;
}
pre code.disabled {
  color: #c2c2c2;
}
.debugger-collapse-section .ant-collapse-content-box {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.debugger-collapse-section .ant-collapse-header {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
/*
.debugger-collapse-section .debugger-section-header {
  padding-left: 0px !important;
}
*/
/* [class~="debugger-section-header"] { */
/* height: 30px; */
/* } */

#supported-ext {
  margin: 5px 0px auto;
}
.debugger-section {
  padding: 0px 24px 25px;
  color: rgba(0, 0, 0, 0.65);
  border: 1px solid #ebedf0;
  margin: 0px 5px 5px;
}
.non-padding-section {
  color: rgba(0, 0, 0, 0.65);
  border: 1px solid #ebedf0;
  margin: 0px 5px 5px;
}
.debugger-title button {
  float: right;
  margin-left: 5px;
}

/* #start-debug {
  float: right;
} */
#debugger-input {
  /* height: 450px; */
}

#debugger-input-textarea {
  height: 400px;
}
#debugger-errors {
  min-height: 150px;
}

#debugger-debugging-pane {
  /* min-height: 600px; */
}

#debugger-tree-view {
  height: 400px;
}

#debugger-tree-view-content {
  height: 350px;
  overflow: scroll;
  background: aliceblue;
}

#debugger-result {
  min-height: 200px;
}

#debugger-opt-clone {
  height: 300px;
  /* overflow: scroll; */
  /* background: aliceblue; */
}
